$color-primary: #907a4f;
$color-gold1: #c9a157;
$color-gold2: #786032;
$color-gold3: #8f7a4f;
$color-blue-dark: #090b12;

$color-white: #ffff;

@use '../base/fonts';
$font-main: 'Gothic', sans-serif;
